# Download-historical-Stock-data-Free

# Importing Library

In [1]:
from login import Login
from stockdata import StockData

# Login Zerodha Account

In [2]:
"""         Login Zerodha            """

userid = None
pwd = None

zerodha = Login(user_id=userid, password=pwd)

[WDM] - Downloading: 100%|████████████████████████████████████████████████████████| 6.79M/6.79M [00:00<00:00, 11.7MB/s]

Login Successfull :)

# Initiate Stock data

In [3]:
stdata = StockData(zerodha.get_enc_cookie())
tradingsymbol = "HDFC"

# Monthly Data

In [4]:
df = stdata.get_month_data(tradingsymbol, year=2020, month=1, interval=stdata.interval.minute_5)
display(df)

,tradingsymbol,datetime,open,high,low,close,volume
0,HDFC,2020-01-01 09:15:00,2418.00,2423.00,2412.50,2421.00,47534
1,HDFC,2020-01-01 09:20:00,2421.00,2422.75,2416.20,2421.00,23113
2,HDFC,2020-01-01 09:25:00,2420.00,2423.90,2418.00,2421.30,23143
3,HDFC,2020-01-01 09:30:00,2421.00,2421.95,2417.35,2417.35,13116
4,HDFC,2020-01-01 09:35:00,2418.00,2420.00,2416.00,2418.00,12686
...,...,...,...,...,...,...,...
1720,HDFC,2020-01-31 15:05:00,2415.70,2416.65,2411.50,2414.80,124660
1721,HDFC,2020-01-31 15:10:00,2414.30,2415.50,2411.50,2414.20,119434
1722,HDFC,2020-01-31 15:15:00,2413.75,2414.15,2409.00,2409.10,125146
1723,HDFC,2020-01-31 15:20:00,2409.10,2410.90,2405.00,2410.35,128606
1724,HDFC,2020-01-31 15:25:00,2410.35,2418.80,2409.85,2416.40,72053

# Yearly Data

In [5]:
df = stdata.get_year_data(tradingsymbol, year=2021)
display(df)

,tradingsymbol,datetime,open,high,low,close,volume
0,HDFC,2021-01-01 09:15:00,2549.00,2554.50,2541.45,2544.00,20203
1,HDFC,2021-01-01 09:16:00,2545.00,2553.30,2543.95,2551.00,17885
2,HDFC,2021-01-01 09:17:00,2551.10,2553.00,2549.45,2551.80,13379
3,HDFC,2021-01-01 09:18:00,2550.80,2553.00,2549.90,2552.20,9797
4,HDFC,2021-01-01 09:19:00,2552.05,2552.65,2548.00,2550.00,9716
...,...,...,...,...,...,...,...
92528,HDFC,2021-12-31 15:25:00,2587.55,2587.55,2585.30,2585.30,14941
92529,HDFC,2021-12-31 15:26:00,2585.05,2587.25,2585.05,2586.95,8485
92530,HDFC,2021-12-31 15:27:00,2587.00,2587.20,2586.95,2587.15,12485
92531,HDFC,2021-12-31 15:28:00,2587.20,2588.05,2583.05,2583.75,14830
92532,HDFC,2021-12-31 15:29:00,2585.00,2588.00,2583.70,2587.00,6883

# Download data from given year to present time

In [7]:
# csv file download at working directory
df = stdata.download_data_from_year(tradingsymbol, from_year=2020, print_statement=True)
display(df)

Downloading...
HDFC data from 2020-01-01 to 2020-01-31 Fetched :)
HDFC data from 2020-02-01 to 2020-02-29 Fetched :)
HDFC data from 2020-03-01 to 2020-03-31 Fetched :)
HDFC data from 2020-04-01 to 2020-04-30 Fetched :)
HDFC data from 2020-05-01 to 2020-05-31 Fetched :)
HDFC data from 2020-06-01 to 2020-06-30 Fetched :)
HDFC data from 2020-07-01 to 2020-07-31 Fetched :)
HDFC data from 2020-08-01 to 2020-08-31 Fetched :)
HDFC data from 2020-09-01 to 2020-09-30 Fetched :)
HDFC data from 2020-10-01 to 2020-10-31 Fetched :)
HDFC data from 2020-11-01 to 2020-11-30 Fetched :)
HDFC data from 2020-12-01 to 2020-12-31 Fetched :)
HDFC data from 2021-01-01 to 2021-01-31 Fetched :)
HDFC data from 2021-02-01 to 2021-02-28 Fetched :)
HDFC data from 2021-03-01 to 2021-03-31 Fetched :)
HDFC data from 2021-04-01 to 2021-04-30 Fetched :)
HDFC data from 2021-05-01 to 2021-05-31 Fetched :)
HDFC data from 2021-06-01 to 2021-06-30 Fetched :)
HDFC data from 2021-07-01 to 2021-07-31 Fetched :)
HDFC data from 2021-08-01 to 2021-08-31 Fetched :)
HDFC data from 2021-09-01 to 2021-09-30 Fetched :)
HDFC data from 2021-10-01 to 2021-10-31 Fetched :)
HDFC data from 2021-11-01 to 2021-11-30 Fetched :)
HDFC data from 2021-12-01 to 2021-12-31 Fetched :)
HDFC data from 2022-01-01 to 2022-01-31 Fetched :)
HDFC data from 2022-02-01 to 2022-02-28 Fetched :)
HDFC data from 2022-03-01 to 2022-03-31 Fetched :)
HDFC data from 2022-04-01 to 2022-04-30 Fetched :)
HDFC data from 2022-05-01 to 2022-05-31 Fetched :)
HDFC data from 2022-06-01 to 2022-06-30 Fetched :)
HDFC data from 2022-07-01 to 2022-07-31 Fetched :)
HDFC data from 2022-08-01 to 2022-08-31 Fetched :)
HDFC data from 2022-09-01 to 2022-09-30 Fetched :)
HDFC data from 2022-10-01 to 2022-10-31 Fetched :)
HDFC data from 2022-11-01 to 2022-11-30 Fetched :)
HDFC data from 2022-12-01 to 2022-12-31 Fetched :)
HDFC data from 2023-01-01 to 2023-01-31 Fetched :)
HDFC data from 2023-02-01 to 2023-02-28 Fetched :)
HDFC data from 2023-03-01 to 2023-03-31 Fetched :)
HDFC data from 2023-04-01 to 2023-04-30 Fetched :)
HDFC data from 2023-05-01 to 2023-05-31 Fetched :)
HDFC data from 2023-06-01 to 2023-06-30 Fetched :)
HDFC data from 2023-07-01 to 2023-07-31 Fetched :)
HDFC data from 2023-08-01 to 2023-08-31 Fetched :)
HDFC data from 2023-09-01 to 2023-09-30 Fetched :)
HDFC data from 2023-10-01 to 2023-10-31 Fetched :)
HDFC data from 2023-11-01 to 2023-11-30 Fetched :)
HDFC data from 2023-12-01 to 2023-12-31 Fetched :)

,tradingsymbol,datetime,open,high,low,close,volume
0,HDFC,2020-01-01 09:15:00,2418.00,2421.70,2414.25,2415.95,14155
1,HDFC,2020-01-01 09:16:00,2415.95,2417.65,2413.05,2414.20,10688
2,HDFC,2020-01-01 09:17:00,2413.60,2415.75,2412.50,2415.75,7366
3,HDFC,2020-01-01 09:18:00,2415.05,2421.40,2415.05,2421.40,8600
4,HDFC,2020-01-01 09:19:00,2421.00,2423.00,2419.80,2421.00,6725
...,...,...,...,...,...,...,...
291137,HDFC,2023-01-27 15:25:00,2665.00,2665.90,2663.95,2664.85,12430
288546,HDFC,2023-01-27 15:26:00,2664.40,2664.65,2662.15,2663.20,11335
288547,HDFC,2023-01-27 15:27:00,2663.25,2669.00,2662.00,2666.70,15732
286820,HDFC,2023-01-27 15:28:00,2668.00,2669.40,2662.75,2665.90,9753
291141,HDFC,2023-01-27 15:29:00,2665.90,2669.40,2662.15,2665.00,4108