# Download-historical-Stock-data-Free

# Importing Library

In [1]:
from Pyzdata import pyzdata

###         Login Zerodha

In [2]:
# Method - 1
zdata = pyzdata(userid="userid", password="password", twofa="twofa", key_type="totp")

In [ ]:
# Method - 2
zdata = pyzdata(enctoken="enctoken")

# Instrument token

In [3]:
# Get instrument token for given trading symbol
instrument_token = zdata.get_instrument_token(tradingsymbol="HDFC", exchange="NSE")

# Monthly Data

In [4]:
df = zdata.get_month_data(instrument_token, year=2020, month=1, interval=zdata.interval.hour_1, oi=True)
display(df)

,tradingsymbol,datetime,open,high,low,close,volume,open_interest
0,HDFC,2020-01-01 09:15:00,2418.00,2423.90,2409.00,2412.55,198613,0
1,HDFC,2020-01-01 10:15:00,2412.55,2429.80,2410.00,2424.70,157818,0
2,HDFC,2020-01-01 11:15:00,2424.80,2425.60,2420.00,2424.75,58640,0
3,HDFC,2020-01-01 12:15:00,2424.75,2429.90,2424.00,2426.55,105438,0
4,HDFC,2020-01-01 13:15:00,2426.50,2433.80,2425.00,2430.40,94888,0
...,...,...,...,...,...,...,...,...
149,HDFC,2020-01-30 11:15:00,2424.05,2424.90,2408.05,2413.00,240059,0
150,HDFC,2020-01-30 12:15:00,2413.10,2422.40,2408.70,2411.40,229149,0
151,HDFC,2020-01-30 13:15:00,2411.35,2417.00,2406.35,2410.45,334411,0
152,HDFC,2020-01-30 14:15:00,2410.45,2427.75,2407.90,2411.55,675028,0
153,HDFC,2020-01-30 15:15:00,2411.60,2413.60,2409.45,2411.00,336853,0

# Yearly Data

In [5]:
df = zdata.get_year_data(instrument_token, year=2021, interval=zdata.interval.minute_30)
display(df)

,tradingsymbol,datetime,open,high,low,close,volume
0,HDFC,2021-01-01 09:15:00,2549.00,2575.75,2541.45,2574.45,294335
1,HDFC,2021-01-01 09:45:00,2575.65,2593.30,2574.25,2583.00,412409
2,HDFC,2021-01-01 10:15:00,2583.00,2589.00,2578.05,2579.50,146993
3,HDFC,2021-01-01 10:45:00,2579.60,2582.00,2570.00,2572.10,139784
4,HDFC,2021-01-01 11:15:00,2572.10,2573.00,2563.00,2563.85,110675
...,...,...,...,...,...,...,...
3099,HDFC,2021-12-30 13:15:00,2571.95,2577.30,2570.00,2571.75,101377
3100,HDFC,2021-12-30 13:45:00,2571.80,2574.20,2565.70,2572.65,77884
3101,HDFC,2021-12-30 14:15:00,2572.60,2579.15,2569.00,2573.90,101123
3102,HDFC,2021-12-30 14:45:00,2574.30,2574.65,2555.00,2569.15,335713
3103,HDFC,2021-12-30 15:15:00,2569.10,2576.95,2560.80,2570.00,259494

# Download data from given year to present time

In [6]:
# csv file download at working directory
df = zdata.download_data_from_year(instrument_token, from_year=2020, interval=zdata.interval.day, print_statement=True)
display(df)

Downloading...
HDFC data from 2020-01-01 to 2020-01-31 Fetched :)
HDFC data from 2020-02-01 to 2020-02-29 Fetched :)
HDFC data from 2020-03-01 to 2020-03-31 Fetched :)
HDFC data from 2020-04-01 to 2020-04-30 Fetched :)
HDFC data from 2020-05-01 to 2020-05-31 Fetched :)
HDFC data from 2020-06-01 to 2020-06-30 Fetched :)
HDFC data from 2020-07-01 to 2020-07-31 Fetched :)
HDFC data from 2020-08-01 to 2020-08-31 Fetched :)
HDFC data from 2020-09-01 to 2020-09-30 Fetched :)
HDFC data from 2020-10-01 to 2020-10-31 Fetched :)
HDFC data from 2020-11-01 to 2020-11-30 Fetched :)
HDFC data from 2020-12-01 to 2020-12-31 Fetched :)
HDFC data from 2021-01-01 to 2021-01-31 Fetched :)
HDFC data from 2021-02-01 to 2021-02-28 Fetched :)
HDFC data from 2021-03-01 to 2021-03-31 Fetched :)
HDFC data from 2021-04-01 to 2021-04-30 Fetched :)
HDFC data from 2021-05-01 to 2021-05-31 Fetched :)
HDFC data from 2021-06-01 to 2021-06-30 Fetched :)
HDFC data from 2021-07-01 to 2021-07-31 Fetched :)
HDFC data from 2021-08-01 to 2021-08-31 Fetched :)
HDFC data from 2021-09-01 to 2021-09-30 Fetched :)
HDFC data from 2021-10-01 to 2021-10-31 Fetched :)
HDFC data from 2021-11-01 to 2021-11-30 Fetched :)
HDFC data from 2021-12-01 to 2021-12-31 Fetched :)
HDFC data from 2022-01-01 to 2022-01-31 Fetched :)
HDFC data from 2022-02-01 to 2022-02-28 Fetched :)
HDFC data from 2022-03-01 to 2022-03-31 Fetched :)
HDFC data from 2022-04-01 to 2022-04-30 Fetched :)
HDFC data from 2022-05-01 to 2022-05-31 Fetched :)
HDFC data from 2022-06-01 to 2022-06-30 Fetched :)
HDFC data from 2022-07-01 to 2022-07-31 Fetched :)
HDFC data from 2022-08-01 to 2022-08-31 Fetched :)
HDFC data from 2022-09-01 to 2022-09-30 Fetched :)
HDFC data from 2022-10-01 to 2022-10-31 Fetched :)
HDFC data from 2022-11-01 to 2022-11-30 Fetched :)
HDFC data from 2022-12-01 to 2022-12-31 Fetched :)
HDFC data from 2023-01-01 to 2023-01-31 Fetched :)
HDFC data from 2023-02-01 to 2023-02-28 Fetched :)
HDFC data from 2023-03-01 to 2023-03-31 Fetched :)
HDFC data from 2023-04-01 to 2023-04-30 Fetched :)
HDFC data from 2023-05-01 to 2023-05-31 Fetched :)
HDFC data from 2023-06-01 to 2023-06-30 Fetched :)

    tradingsymbol   datetime     open     high      low    close   volume
0            HDFC 2020-01-01  2418.00  2438.50  2409.00  2433.95   945874
1            HDFC 2020-01-02  2430.00  2472.75  2422.00  2466.40  1701396
2            HDFC 2020-01-03  2455.00  2466.40  2441.80  2454.45  1963923
3            HDFC 2020-01-06  2428.00  2445.00  2371.40  2384.10  2656731
4            HDFC 2020-01-07  2401.25  2428.80  2380.20  2415.05  3771992
..            ...        ...      ...      ...      ...      ...      ...
851          HDFC 2023-06-05  2658.00  2661.90  2642.00  2644.80  4714971
852          HDFC 2023-06-06  2645.95  2649.00  2624.85  2635.35  4846536
853          HDFC 2023-06-07  2642.75  2655.00  2631.60  2648.55  2694134
854          HDFC 2023-06-08  2636.10  2678.00  2636.10  2653.80  2072748
855          HDFC 2023-06-09  2664.00  2667.90  2646.85  2652.90  4348281

[856 rows x 7 columns]